div.content { 
  padding-left: 20px;
  padding-right: 20px;
  width: 760px;
  margin: 0 auto;
}

.logo img {
  height: 120px;
}

.top ul {
  font-size: 130%;
}

.top ul a { 
  padding: 20px;
  border-radius: 40px;
}
