---
layout: default
title: "CosmicOS: a next-generation Contact message"
---

<h1>CosmicOS: a Coder's Contact Message</h1>

{% if false %}
<div class="latest">
<ul class="index">
  {% for post in site.posts | limit: 3 %}
    <li>
      <h3><a href="{{site.baseurl}}{{ post.url }}"><b>{{ post.title }}</b></a></h3>
    </li>
  {% endfor %}
</ul>
</div>
{% endif %}

<p>
CosmicOS is a way to create stand-alone messages suitable for
conversations across large gulfs of time and space.  It is
a preamble you can borrow
to bootstrap up to a decent shared vocabulary,
without making too many assumptions.
CosmicOS is inspired by Hans Freudenthal's language, 
<A HREF="http://en.wikipedia.org/wiki/Lincos_(language)">Lincos</A>, and
Carl Sagan's book, <A HREF="http://en.wikipedia.org/wiki/Contact_%28novel%29">Contact</A>.
The message so far communicates:
</p>

<ul>
  <li>Basic mathematics and logic.</li>
  <li>Basic elements of programming.</li>
  <li>2D logic circuits and a program to evaluate them.</li>
  <li>A very minimal virtual machine, and a tiny game written to run on it.</li>
</ul>

<p>
The idea is to communicate the usual math and logic basics,
then use that to show how to run programs, then send
interesting programs that demonstrate behaviors and interactions,
and start communicating ideas through &rdquo;theater&rdquo;
rather than dry logic.
This is inspired by Freudenthal's
idea of staging conversations between
his imaginary characters <b>Ha</b> and <b>Hb</b>.
</p>

<A NAME="toc"></A>
<h2>Message in plain text form</h2>

<p>
The message can be rendered in plain text.  This is <i>not</i> the
form in which it would be transmitted!
</p>

{% include sections.html %}



<h2>Message in 4-symbol form</h2>

<p>Traditionally, CosmicOS has been represented as
a long sequence of four symbols. Labeling
them arbitrarily as
<b>0</b>, <b>1</b>, <b>2</b>, and <b>3</b>, the message begins like this:</p>

{% capture wrapped %}{% include wrapped.txt %}{% endcapture %}
{% capture wrapped_length %}{{wrapped | strip_newlines | size}}{% endcapture %}
{% capture wrapped_entropy %}{% include entropy.txt %}{% endcapture %}

<div class="happy-block happy-block-top preish">
{{wrapped | truncatewords: 7 | replace:' ','<br />' | replace:'...',''}}<br />...
</div>
<A class="happy-block happy-block-bottom" HREF="wrapped.txt">see full {{wrapped_length}}-symbol message</A>

{% if false %}
<p>
Or reformatting into Ogham-style script (because: why not?)
</p>

<div class="happy-block happy-block-top">
{% include glyph_head.txt %}
...<br />
</div>
<A class="happy-block happy-block-bottom" HREF="iconic.html">see full message</A>

{% endif %}

{% assign ent = wrapped_entropy | plus: 0 | divided_by: 1024.0 | plus: 0.5 | floor | append: '' | split: '.' %}
<P>
Estimating message entropy by compressing this message, we get:
<B>{{ ent.first }} kB</B>.
This message form has some major revisions pending to ease
comprehension.
Please be forgiving.
It'll all get fixed in an instant of galactic time.
</P>

<h2>General structure</h2>

<P>
The message is organized as follows:
</P>


<ul>
  <li>The message consists of a sequence of statements that can be
evaluated, and each statement evaluates to true.</li>
  <li>The message can refer to itself and change its own syntax as it goes.</li>
  <li>A core set of operators are introduced by showing examples of their use.</li>
  <li>Once a sufficient set of operators is available, most new concepts
are introduced both by examples and a definition in terms of what is
already known.</li>
  <li>The message is more like a programming language than a human language, and is related to Brian McConnell's notion of <A HREF=http://www.oreilly.com/news/seti_0201.html>ACETI</A>.  The goal is to
transmit simulations whose behavior can be examined and discussed, and
to introduce higher-level notions in terms of those simulations.</li>
</ul>

<p>The message uses the following syntax (shown in plain-text form):</p>

<pre class="happy-block">
  symbol   meaning
     (     marks beginning of an expression
     )     marks end of an expression
     |     opens a parenthesis which will self-close at the next parenthesis.
           (A B | C | D) is another way to write (A B (C (D))).
           This greatly simplifies complex expressions.
     $     $A is shorthand for (A).
     ;     marks end of a statement
</pre>


<p>There are also numbers and arbitrary symbols.  If there's no
other syntax between two of these, they must be separated
from each other by whitespace.
How all of this is encoded is subject to change.  Originally,
CosmicOS converted all arbitrary symbols into numbers, and
encoded numbers in binary.  The message will remain compatible
with this, but the encoding of symbols is being changed.
</p>

<h2>Posts</h2>

<ul class="index">
  {% for post in site.posts %}
    <li>
      <h3><a href="{{site.baseurl}}{{ post.url }}"><b>{{ post.title }}</b>, {{ post.date | date: "%B %Y" }}</a></h3>
    </li>
  {% endfor %}
</ul>

<h2>License</h2>

<p>

I've chosen the GPL for whimsical reasons.  If it is a problem for
you just <a href="https://github.com/paulfitz/cosmicos/issues/new">file an issue</a>.  I'm a license push-over.

</p>

<TABLE>
<TR>
<TD style="width: 100px;">
<!-- Creative Commons License -->
<a href="http://creativecommons.org/licenses/GPL/2.0/"><img alt="CC-GNU GPL" border="0" src="{{site.baseurl}}/images/cc-GPL-a.png" /></a><br />
</TD><TD VALIGN=TOP>
<FONT SIZE=-1>
The CosmicOS software is licensed under the <a href="http://creativecommons.org/licenses/GPL/2.0/">CC-GNU GPL</a>.
</FONT>
<!-- /Creative Commons License -->
</TD></TR></TABLE>

<!--

<rdf:RDF xmlns="http://web.resource.org/cc/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="">
   <license rdf:resource="http://creativecommons.org/licenses/GPL/2.0/" />
   <dc:type rdf:resource="http://purl.org/dc/dcmitype/Software" />
</Work>

<License rdf:about="http://creativecommons.org/licenses/GPL/2.0/">
   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
   <requires rdf:resource="http://web.resource.org/cc/Notice" />
   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
   <requires rdf:resource="http://web.resource.org/cc/SourceCode" />
</License>

</rdf:RDF>

-->






<!-- Creative Commons License -->
<TABLE>
<TR>
<TD style="width: 100px;">
<a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/"><img alt="Creative Commons License" border="0" src="{{site.baseurl}}/images/somerights20.gif" /></a><br />
</TD>
<TD VALIGN=TOP>
<FONT SIZE=-1>
The CosmicOS webpages are licensed under a 
<a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5 License</a>.
</FONT>
<!-- /Creative Commons License -->
</TD>
</TR>
</TABLE>

<!--

<rdf:RDF xmlns="http://web.resource.org/cc/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="">
   <license rdf:resource="http://creativecommons.org/licenses/by-sa/2.5/" />
</Work>

<License rdf:about="http://creativecommons.org/licenses/by-sa/2.5/">
   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
   <requires rdf:resource="http://web.resource.org/cc/Notice" />
   <requires rdf:resource="http://web.resource.org/cc/Attribution" />
   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
</License>

</rdf:RDF>

-->



<!---
<p>
You can try your hand at making CosmicOS <a href=unless.html>logic gates</a>
or evaluating <a href=assem.swf>simple expressions</a>.
</p>
-->

</div>
