---
layout: default
title: "CosmicOS: full message in human-readable form"
extra_js: js/jqconsole.js
extra_css:
  - css/console.css
  - css/syntax.css
---

<h1>Full message</h1>

  {% include sections.html %}

<div class="readable">

{% capture newline %}
{% endcapture %}
{% for stanza in site.data.msg %}
  {% if stanza.section_description %}
  </div>
  <h3 class='msg'><a name="section{{stanza.section_index}}" href="#">{{stanza.section_index}}. {{stanza.section_description}}</a></h3>
  <div class="readable">
  {% endif %}
  {% if stanza.role == "file" %}
  {% elsif stanza.role == "doc" %}
  <div class="doc">{{ stanza.lines | join: newline | markdownify }}</div>
  {% elsif stanza.role == "gate" %}
  <a href="{{stanza.page}}"><img src="{{stanza.thumbnail}}" /></a><br />
  <a href="{{stanza.page}}">Run simulator</a>
  {% elsif stanza.role == "comment" %}
{% if stanza.lines[0] %}
<pre class="happy-block">
{% for line in stanza.lines %}{{line | escape}}
{% endfor %}</pre>
{% endif %}
{% else %}
<div class="msg-holder{% if stanza.assume %} msg-assume{% endif %}">
<div class="scrawl" id="line-{{stanza.stanza}}">{{stanza.spider}}</div>
<pre class="msg-line{% if stanza.dt %} msg-dt{% endif %}">{% highlight haskell %}{% for line in stanza.lines %}{{line}}
{% endfor %}{% endhighlight %}</pre>
<div class="msg-code" data-code="{{stanza.code}}"><a class="show" href="#">{{stanza.code | truncate: 40}}</a><a class="hear" href="#">hear</a></div>
</div>
  {% endif %}
{% endfor %}

</div>

<script>
 var jqconsole = null;

 function CosCon() {
   var cc = this.cc = new Eval();
 }

 CosCon.prototype.setup = function() {
 }

 CosCon.prototype.process = function(line) {
   return this.cc.apply(line, function(x) { jqconsole.Write(x, 'jqconsole-output'); });
 }


 var startPrompt = null;
 var interpreter = null;

 var interpreterTick = null;
 var messageIterator = null; 

 function updateConsole() {
   if (!jqconsole) { return; }
   if (messageIterator === null) {
     messageIterator = document.createNodeIterator(document.body, NodeFilter.SHOW_ELEMENT,
                                                   function(n) { return n.classList.contains('msg-line'); });
   }
   var at = $(messageIterator.nextNode());
   while (!at.hasClass('mark-mark') && !at.hasClass('msg-dt')) {
     at = $(messageIterator.nextNode());
   }
   var txt = at.text();
   function finish() {
     interpreter.process(txt);
     jqconsole.Write(txt + "\n", 'jqconsole-output');
     if (!at.hasClass('mark-mark')) {
       interpreterTick = setTimeout(updateConsole, 1);
     }
   }
   if (txt.indexOf("primer") >= 0) {
     $.getJSON("primer.json", function(primer) {
       interpreter.cc.addPrimer(primer);
       finish();
     });
   } else {
     finish();
   }
 }

  function reset() {
    $('.console-wrapper').remove();
    $('.msg-expand').removeClass("msg-expand");
    $('.mark-mark').removeClass('mark-mark');
    interpreter = null;
    jqconsole = null;
    startPrompt = null;
    if (interpreterTick) {
      clearTimeout(interpreterTick);
      interpreterTick = null;
    }
    messageIterator = null;
  }
  
 $(function() {
   $("h3 a").each(function(index,e) {
     var target = "#toc_" + $(this).attr('name');
     $(this).click(function() { 
       window.scrollTo(0, $(target).offset().top);
       return false;
     });
   });
   $(".msg-code a.show").each(function(index,e) {
     $(this).click(function(event) { 
       event.preventDefault();
       var p = $(this).parent();
       if (!p.hasClass("msg-expand")) {
         reset();
         p.parent().find('.msg-line').addClass("mark-mark");
         var c = $("<div></div>");
         var c2 = $("<div></div>");
         c2.append(c);
         c2.addClass('console-wrapper');
         c.addClass('console');
	 p.addClass("msg-expand");
	 $(this).text(p.data('code'));
         p.append(c2);
         interpreter = new CosCon();
         interpreter.setup();
         jqconsole = c.jqconsole('', '>>> ');
         startPrompt = function () {
           jqconsole.Prompt(true, function (input) {
             var out = "";
             try {
	       out = interpreter.process(input) + "\n";
             } catch (e) {
	       out = e + "\n";
             }
             jqconsole.Write(out, 'jqconsole-output');
             startPrompt();
           });
         };
         startPrompt();
         jqconsole.Focus();
         updateConsole();
       } else {
         var p = $(this).parent();
         p.find('.console').remove();
         p.removeClass("msg-expand");
         p.focus();
         reset();
       }
       return false;
     });
   })
 });
</script>
