{% assign current = page.url | downcase | split: '/' %}
<div class="menu-holder">
  <ul>
{% if current[1] == null %}
<li class="menu-item menu-logo no-a">CosmicOS</li>
{% else %}
<li class="menu-item menu-logo"><a HREF='{{site.baseurl}}/'>CosmicOS</a></li>
{% endif %}
    <li class="menu-item"><a HREF='{{site.baseurl}}/about.html'>message</a></li>
    <li class="menu-item"><a HREF='{{site.baseurl}}/evaluate.html'>console</a></li>
    <li class="menu-item menu-source"><a HREF='https://github.com/paulfitz/cosmicos'>github</a></li>
  </ul>
  </div>
